version: "3.9"

networks:
  chatnet:
    driver: bridge

volumes:
  ollama-data:
  webui-data:

services:

  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    restart: always
    networks:
      - chatnet
    ports:
      - "11434:11434"
    volumes:
      - ollama-data:/root/.ollama
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: [gpu]
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility
      - OLLAMA_FLASH_ATTENTION=true
      - OLLAMA_MAX_LOADED_MODELS=1
      - OLLAMA_NUM_PARALLEL=1
      - OLLAMA_GPU_OVERHEAD=0
    runtime: nvidia
    healthcheck:
     test: ["CMD-SHELL", "curl -s http://localhost:11434/api/version || exit 1"]
     interval: 10s
     timeout: 5s
     start_period: 40s
     retries: 10



  webui:
    image: ghcr.io/open-webui/open-webui:latest
    container_name: webui
    restart: always
    depends_on:
      ollama:
        condition: service_healthy
    networks:
      - chatnet
    ports:
      - "3000:8080"
    environment:
      - OLLAMA_API_BASE_URL=http://ollama:11434
    volumes:
      - webui-data:/app/backend/data
